@model AsyncInn.Models.HotelRoom
@{ 
  var id = Model.HotelID;
  var id2 = Model.RoomID;
}
@{
ViewData["Title"] = "Details";
}
<head>
  <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<h2>Details: Hotel Room</h2>

<div>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Hotel): @Html.DisplayFor(model => model.Hotel.Name)
    </dt>
    <dt>
      @Html.DisplayNameFor(model => model.Room): @Html.DisplayFor(model => model.Room.Name)
    </dt>
    <dt>
      @Html.DisplayNameFor(model => model.RoomNumber): @Html.DisplayFor(model => model.RoomNumber)
    </dt>
    <dt>
      @Html.DisplayNameFor(model => model.Rate): @Html.DisplayFor(model => model.Rate)
    </dt>
    <dt>
      @Html.DisplayNameFor(model => model.PetFriendly): @Html.DisplayFor(model => model.PetFriendly)
    </dt>
  </dl>
</div>

  <div class="bottom-navigation">
      @Html.ActionLink("Edit", "Edit", new {id, id2})
    <a asp-action="Index">Back to List</a>
  </div>
