@model IEnumerable<AsyncInn.Models.Hotel>

@{
  ViewData["Title"] = "Index";
}
@{
  Layout = "_Layout";
}

<ul>
  <li><a>Hotels</a></li>
  <li style="float:right"><a href="Amenities">Anemities</a></li>
  <li style="float:right"><a href="RoomAmenities">Room Anemities</a></li>
  <li style="float:right"><a href="Rooms">Rooms</a></li>
  <li style="float:right"><a href="HotelRooms">Hotel Rooms</a></li>
  <li style="float:right"><a href="Hotels">Hotels</a></li>
  <li style="float:right"><a href="Home">Main</a></li>
</ul>

<h3>Search For Hotels</h3>
<form asp-controller="Hotels" asp-action="Index">
  <p class="create">
    <input type="text" name="SearchString">
    <input type="submit" value="Filter" />
  </p>
</form>

<p class="create">
  <a class="create" asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Phone)
      </th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
